<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Quick Actions</h4>
                <div class="row">
                    <div class="col-md-3 col-sm-6 mb-3">
                        <a href="{% url 'project_create' %}" class="btn btn-primary w-100">
                            <i class="ti ti-plus me-2"></i>Add Project
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <a href="{% url 'client_create' %}" class="btn btn-success w-100">
                            <i class="ti ti-user-plus me-2"></i>Add Client
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <a href="{% url 'payment_create' %}" class="btn btn-info w-100">
                            <i class="ti ti-money-plus me-2"></i>Add Payment
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <a href="{% url 'goal_create' %}" class="btn btn-warning w-100">
                            <i class="ti ti-target me-2"></i>Set Goal
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 