{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div
                class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="{% url '' %}" class="text-nowrap logo-img text-center d-block w-100">
                                    <img src="{% static 'assets/images/logos/dark-logo.svg' %}" height="80" alt="">
                                </a>
                                <p class="text-center">FreelanceCalc</p>
                                <form method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    {% include 'alerts.html' %}
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email"
                                               class="form-control"
                                               id="email"
                                               name="email"
                                               aria-describedby="emailHelp"
                                               required
                                        >
                                    </div>
                                    <div class="mb-4">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password"
                                               class="form-control"
                                               id="password"
                                               name="password"
                                               required
                                        >
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input primary" type="checkbox" value=""
                                                   id="flexCheckChecked" checked>
                                            <label class="form-check-label text-dark" for="flexCheckChecked">
                                                Remember this Device
                                            </label>
                                        </div>
                                        <a class="text-end text-primary fw-bold" href="">Forgot Password ?</a>
                                    </div>
                                    <button
                                            type="submit"
                                            class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                                    >
                                        Sign In
                                    </button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">New to FreelanceCalc?</p>
                                        <a class="text-primary fw-bold ms-2" href="{% url 'signup' %}">Create an
                                            account</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}